@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
	color: black;
}
img {
	max-width: 100%;
	object-fit: cover;
}
button,
input,
input:focus,
input:active,
button:focus {
	border: none;
	outline: none;
	background: none;
}
ul {
	list-style-type: none;
}
li {
	display: inline-flex;
}
